/* global */
/* kích thước màn hình 15.6inch, 1920*1080 */
.html,
body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.title {
    margin-bottom: 0.8rem;
    color: #000;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.btn__read__more a {
    color: #00cdce;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    padding: 7px 18px;
    background: #000;
    display: inline-block;
    transition: all 0.5s;
}

.btn__read__more:hover a {
    color: white;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.8);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header__logo a {
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 15px 0px;
    font-size: 4rem;
}

.header__logo a span {
    color: #00cdce;
}

.header__nav {
    padding-right: 2rem;
}

.header__nav ul li {
    list-style: none;
    display: inline;
    position: relative;
    margin: 0 0.5rem;
    padding-bottom: 10px;
}

.header__nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.14rem;
    font-weight: 400;
    padding: 0 0.5rem;
    letter-spacing: 1px;
    background-color: rgba(12, 11, 11, 0);
    transition: all 0.5s;
}

.header__nav ul li a::after {
    position: absolute;
    display: block;
    content: "";
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    opacity: 1;
    color: white;
    transition: all 0.5s;
}

.header__nav ul li:hover a {
    color: #00cdce;
}

.header__nav ul li:hover a::after {
    opacity: 0;
}


/* housingCarousel */

#housingSlider .carousel-inner {
    position: relative;
}

#housingSlider .carousel-inner .carousel-caption {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    width: 100%;
}

#housingSlider .carousel-inner .carousel-caption h2 {
    font-size: 4.3rem;
    font-weight: 900;
    color: #FFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0px 0px 10px;
}

#housingSlider .carousel-inner .carousel-caption p {
    font-size: 1.7rem;
    font-weight: 400;
    color: #d3d8d8;
    line-height: 35px;
}

#housingSlider .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    background-color: white;
    /* background-clip: border-box; */
    display: block;
    opacity: 1;
    margin: 0 10px;
}

#housingSlider .carousel-indicators li.active {
    background-color: black;
    color: black;
}

#housingSlider .carousel-control-prev-icon {
    background-image: url('https://demo.w3layouts.com/demos_new/template_demo/01-12-2017/housing-demo_Free/524021621/web/images/left-arrow.png');
    transform: scale(2);
}

#housingSlider .carousel-control-next-icon {
    background-image: url('https://demo.w3layouts.com/demos_new/template_demo/01-12-2017/housing-demo_Free/524021621/web/images/right-arrow.png');
    transform: scale(2);
}

#housingSlider ol.carousel-indicators {
    bottom: 10%;
}

/* about */
.about {
    text-align: center;
    padding: 50px 0;
}

.about__content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about__content .about__items {
    padding: 0 10px;
}

.about__content i {
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
    border-radius: 50%;
    line-height: 100px;
    font-size: 2rem;
    transition: all 0.5s;
    cursor: pointer;
}

.about__content i:hover {
    background-color: #00cdce;
    color: white;
}

.about__content p {
    line-height: 2rem;
    font-size: 1.2rem;
    color: #7f7777;
    margin-top: 0.8rem;
}

.about__us {
    width: 80%;
    margin: 0 auto;
}

.about__us h3 {
    color: #00cdce;
    font-size: 2.15rem;
    margin: 0;
    font-weight: 600;
    line-height: 1.8rem;
}

.about p {
    margin: 5px 0 0 0;
    color: #000;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2.1rem;
}

/* statics */
.statics {
    background-color: #00cdce;
    padding: 50px 0;
}

.statics__content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.statics__items {
    width: 25%;
}

.statics__items p:first-child {
    font-size: 4rem;
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
}

.statics__items p:last-child {
    font-size: 2.15rem;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
}

/* blog */
.blog {
    padding: 50px 0;
}

.blog__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.blog__items {
    width: 33.3333%;
    margin: 0 15px;
    background-color: #e6ebff;
}

.blog__items__img {
    width: 100%;
    height: auto;
}

.blog__items__img img {
    display: block;
    height: 100%;
    width: 100%;
}

.blog__items__text {
    padding: 1.5rem;
}

.blog__items__text a.title__text {
    font-size: 1.6rem;
    color: #00cdce;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.5s;
}

.blog__items__text a.title__text:hover {
    color: black;
}

.blog__items__text p {
    font-size: 1.1rem;
    color: #000;
    margin: .5rem 0rem;
    line-height: 26px;
}

#modalBlog .modal-header {
    background: #00cdce;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

#modalBlog .modal-header .modal-title {
    width: 100%;
    font-size: 2.6rem;
}

#modalBlog .modal-header button.close {
    opacity: 1;
    transition: 0.3s ease-in-out;
    outline: none;
}

#modalBlog .modal-header .close span {
    font-size: 3.5rem;
    color: #a0260f;
}

#modalBlog .modal-header .close:hover span {
    color: #000;
    opacity: 0.5;
}

#modalBlog .modal-body .modalBlog__image {
    width: 95%;
    margin: 5px auto;
}

#modalBlog .modal-body .modalBlog__image img {
    display: block;
    width: 100%;
    height: auto;
}

#modalBlog .modal-body .modalBlog__text {
    width: 90%;
    margin: 5px auto;
}

#modalBlog .modal-body .modalBlog__text p {
    font-size: 1.1rem;
    color: #999;
    text-align: left;
    padding: 2rem 2rem 1rem;
    margin: 0 !important;
    line-height: 2rem;
}

/* video */
.video {
    display: flex;
    height: 350px;
}

.video__left {
    width: 45%;
    background-image: url('../images/video.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .video__left a{
    height: 100px;
    width: 100px;
    border: 2px solid #00cdce;
    text-align: center;
} */
.video__left i {
    font-size: 4rem;
    background-color: rgba(0, 204, 204, 0.4);
    color: white;
    width: 100%;
    border: 1px solid #00cdce;
    padding: 4px;
    border-radius: 50%;
}

#videoLeftModal .modal-header {
    position: relative;
}

#videoLeftModal .modal-header button.close {
    position: absolute;
    top: -40px;
    left: -50px;
    /* z-index: 1000; */
    font-size: 3rem;
    outline: none;
}

#videoLeftModal .modal-header button.close {
    opacity: 1;
    color: #a0260f;
    transition: 0.3s ease-in-out;
}

#videoLeftModal .modal-header button:hover span {
    color: #000;
    opacity: 0.5;
}

#videoLeftModal .modal-body iframe {
    display: block;
    width: 95%;
    height: 450px;
    margin: 0 auto;
    /* padding: 80px 50px; */
}

.video .video__get__more__right {
    width: 55%;
    text-align: center;
    padding: 0 50px;
    background-color: #00cdce;
}

.video__get__more__right h2 {
    margin: 1rem 0 .5rem;
    font-size: 3rem;
    color: #000;
}

.video__get__more__right p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #fff;
    line-height: 2rem;
    text-align: center;
}

#modalRightVideo .modal-header {
    background: #00cdce;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

#modalRightVideo .modal-header .modal-title {
    width: 100%;
    font-size: 2.6rem;
}

#modalRightVideo .modal-header button.close {
    opacity: 1;
    transition: 0.3s ease-in-out;
    outline: none;
}

#modalRightVideo .modal-header .close span {
    font-size: 3.5rem;
    color: #a0260f;
}

#modalRightVideo .modal-header .close:hover span {
    color: #000;
    opacity: 0.5;
}

#modalRightVideo .modal-body .modalRightVideo__image {
    width: 95%;
    margin: 5px auto;
}

#modalRightVideo .modal-body .modalRightVideo__image img {
    display: block;
    width: 100%;
    height: auto;
}

#modalRightVideo .modal-body .modalRightVideo__text {
    width: 90%;
    margin: 5px auto;
}

#modalRightVideo .modal-body .modalRightVideo__text p {
    font-size: 1.1rem;
    color: #999;
    text-align: left;
    padding: 2rem 2rem 1rem;
    margin: 0 !important;
    line-height: 2rem;
}

/* portfolio */
.portfolio {
    margin: 50px 0;
}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: 50px auto;
}

.portfolio__items {
    position: relative;
}

.portfolio__items img {
    display: block;
    height: 100%;
    width: 100%;
}

.portfolio__overplay{
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 3%;
    right: 3%;
    background-color: rgba(0, 0, 0, .72);
    padding: 1.5rem 4rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 0;
    transition: all 0.5s;
    /* transform: scale(0.5); */
}

.portfolio__overplay__content h3 {
    font-size: 1.5rem;
    color: #00cdce;
    text-transform: uppercase;
    padding: 1.3rem 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 0.8rem;
}

.portfolio__overplay__content p {
    color: white;
    font-size: 1.1rem;
}
.portfolio__items:hover .portfolio__overplay{
    opacity: 1;
    /* transform: scale(1); */
}
/* subscribe */
.subscribe {
    background-color: #00cdce;
    text-align: center;
    padding: 50px 0;
}

.subscribe__content {
    width: 60%;
    margin: 0 auto;
}

.subscribe__content p {
    font-size: 1.1rem;
    color: #ffffff;
    padding: 1rem;
}

.subscribe__content form input {
    width: 70%;
    height: 50px;
    outline: none;
    border: none;
    padding: 0 10px;
    margin-bottom: 10px;
}

.subscribe__content form input::placeholder {
    font-weight: 700;
}

.subscribe__content form button {
    padding: 6px 50px;
    font-size: 1.7rem;
    color: white;
    background-color: black;
    outline: none;
    border: 1px solid black;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.subscribe__content form button:hover {
    background-color: #dfdfdf;
    color: black;
}

/* OurAgents */
.ourAgents {
    margin: 50px 0;
}

.ourAgents__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.ourAgents__items {
    width: 25%;
    padding: 0 20px;
}

.ourAgents__items img {
    display: block;
    width: 100%;
    height: 100%;
}

.ourAgents__items__text {
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
}

.ourAgents__items__text h3 {
    color: #00cdce;
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 800;
    letter-spacing: 1px;
}

.ourAgents__items:hover .ourAgents__items__text h3 {
    color: white;
}

.ourAgents__items__icon i {
    margin: 10px;
    height: 30px;
    width: 30px;
    line-height: 25px;
    border: 3px solid white;
    cursor: pointer;
    transition: all 0.5s;
}

.ourAgents__items__icon i:first-child:hover {
    background-color: #3b5998;
}

.ourAgents__items__icon i:nth-child(2):hover {
    background-color: #55acee;
}

.ourAgents__items__icon i:last-child:hover {
    background-color: #f26522;
}

/* map */
.map {
    width: 100%;
    height: 400px;
    border: 2px solid #00cdce;
    padding: 10px;
    background-color: #7f7777;
}

.map iframe {
    display: block;
    width: 100%;
    height: 100%;
}

/* contact */
.contact {
    margin: 50px 0;
}

.contact__content {
    width: 80%;
    margin: 0 auto;
}

.contact__content form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.contact__content form .contact__input {
    height: 50px;
}

.contact__content form .contact__textArea {
    resize: none;
    grid-column-start: 2;
    grid-row: 1/span 3;
}

.contact__content form .contact__input,
.contact__textArea {
    background: rgb(239, 239, 239);
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
}

.contact__content form .contact__input:hover,
.contact__textArea:hover {
    border-bottom: 2px solid black;
}

.contact__content form .contact__input:focus,
.contact__textArea:focus {
    border-bottom: 2px solid black;
}

.contact__content form .contact__button {
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.contact__content form .contact__button:hover {
    color: black;
    background-color: #00cdce;
}

/* footer */
footer {
    margin: 50px 0;
    background-color: #00cdce;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    color: white;
}

.footer__left {
    font-size: 1.1rem;
    height: 50px;
    line-height: 50px;
}

.footer__left i {
    background-color: transparent;
}

.footer__left a {
    color: red;
    text-decoration: none;
    transition: all 0.5s;
}

.footer__left a:hover {
    color: white;
}

.footer__right i {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    line-height: 30px;
    text-align: center;
    border: 1px solid white;
}

.footer__right a i {
    color: white;
    transition: all 0.5s;
}

.footer__right a:first-child:hover i,
a:nth-child(2):hover i,
a:last-child:hover i {
    color: #3b5998;
}

.footer__right a:nth-child(3):hover i {
    color: #f26522;
}

/* back top top */
.backToTop img{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.backToTop {
    opacity: 0;
    visibility: hidden;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
